/* LISTAS */
/*9 - COLOR GENERICO*/
/*12 - media query*/
/* FIN LISTAS */
/* MAPAS */
/* FIN MAPAS */
/* EXTENDS */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap");
.menu-color-header a, .color-header-button, .columnas div p, .productos div a, .grid-items, footer p {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; }

/* FIN EXTENDS */
/* MIXIN */
/* FIN MIXIN */
/* OPERACIONES ARITMETICAS */
/* FIN OPERACIONES ARITMETICAS */
/* CONDICIONALES */
/* FIN CONDICIONALES*/
/* BUCLE */
/* FIN BUCLE */
/* VARIABLES MENU */
/* FIN VARIABLES MENU*/
/* FUENTE TEXTOS */
/* FIN FUENTE TEXTOS */
/* VARIABLES PAGINA GALERIA */
/* FIN VARIABLES GALERIA */
/* VARIABLES PAGINA FORMULARIO */
/* FIN VARIABLES FORMULARIO */
/** FUENTE DE TIPOGRAFIA**/
/*! ----- RESET -----*/
/* html{
    font-size: 5px;
} */
* {
  margin: 0;
  padding: 0; }

body {
  background-color: #FFFFE8; }

header {
  position: sticky;
  top: 0px;
  z-index: 1; }
  header img {
    width: 80px;
    height: 80px;
    left: 10px;
    border-radius: 15px;
    padding-top: 1px; }

.menu-collapse {
  color: white;
  border-color: white;
  background-color: lightcyan;
  border: 1px solid; }

.menu-collapse:hover {
  color: #8447FF;
  border-color: white;
  background-color: white; }

.menu-color-header {
  background-color: #8447FF;
  border-width: 1px;
  border: solid;
  border-color: white;
  border-radius: 15px;
  /* height: 100px; */ }

.menu-color-header a {
  color: white;
  text-decoration: none;
  padding: 10px;
  margin: 2px; }

.color-header-button {
  border-color: white;
  text-decoration: none;
  color: white; }

.color-header-button:hover {
  background-color: #FFFFE8;
  color: #D972FF;
  border: solid #D972FF 1px; }

main {
  background-color: transparent;
  text-align: center;
  margin-right: 5px;
  margin-left: 5px;
  /* margin: 15px; */ }
  main section {
    margin-right: 0px;
    margin-left: 0px; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 50vb;
  background-image: url(../img/header-desayuno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
  border-radius: 10px; }
  .hero h1 {
    color: white;
    font-size: 80px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border: 0px white solid;
    padding: 0px;
    /* background-color: nth($colores, 3); */
    /* border-radius: 10px 15px 0px 0px; */
    -webkit-text-stroke: 2.5px purple; }
    .hero h1 span {
      /* color: nth($colores, 3); */
      font-size: 90px; }

.bienvenidos {
  padding-top: 20px;
  background-color: transparent; }
  .bienvenidos h2 {
    color: #8447FF;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: solid 0px;
    border-radius: 10px;
    border-color: purple;
    background-color: #FFB2E6;
    padding: 10px;
    -webkit-text-stroke: 0.5px white; }

.columnas div p {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #3c014e;
  font-size: 15px;
  border-radius: 10px;
  margin-right: 10px;
  background-color: #8CFFDA;
  height: 100%;
  margin: 0px;
  border: solid 2px #FFB2E6;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.columnas div img {
  height: 60vh;
  width: 100%;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  margin: 5px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  border: solid 2px #FFB2E6; }

.productos {
  background-color: #8CFFDA;
  border-radius: 10px;
  z-index: 1; }
  .productos h2 {
    text-align: center;
    background-color: #FFB2E6;
    padding: 20px;
    margin-top: 20px;
    text-transform: uppercase;
    color: #8447FF;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border-width: 10px black;
    border-radius: 10px 10px 0px 0px;
    border: none;
    -webkit-text-stroke: 0.5px white; }
  .productos div {
    border: 1px solid white;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: #8447FF;
    color: white;
    margin: 10px;
    display: inline-block;
    border-radius: 0px 0px 10px 0px;
    border: solid 2px #FFB2E6;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
    .productos div:hover {
      transform: scale(1.05);
      transition-duration: 1.0s; }
    .productos div img {
      width: 240px;
      height: 200px;
      margin-top: 2px;
      border: solid 2px #FFB2E6; }
    .productos div h3 {
      margin-top: 10px;
      margin-bottom: 40px; }
    .productos div a {
      text-decoration: none;
      background-color: #8CFFDA;
      color: #8447FF;
      font-size: 20px;
      text-align: center;
      padding: 7px;
      border-radius: 10px;
      border-style: solid;
      border-width: 2px;
      border-color: white;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }
      .productos div a:hover {
        transition-duration: 0.5s;
        background-color: white;
        color: #8447FF; }

.fixed {
  position: fixed;
  bottom: 33px;
  right: 10px; }
  .fixed a img {
    width: 40px;
    height: 40px; }
    .fixed a img:hover {
      color: #FFB2E6; }

/*! GALERIA */
.ajustar-contenido {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column; }

.titulo-galeria {
  width: 100%;
  text-align: center;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: #FFB2E6;
  border-radius: 15px 15px 15px 15px;
  margin: 0px;
  -webkit-text-stroke: 0.5px white;
  color: #8447FF;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 10px; }

.galeria div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 15px;
  margin-top: 10px;
  z-index: 1; }
  .galeria div img {
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    width: 300px;
    height: 400px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    border: solid 2px #8447FF;
    background-color: #FFB2E6; }
    .galeria div img:hover {
      transform: scale(1.05);
      transition-duration: 1s; }

/*!FIN GALERIA*/
/*!CONTACTO*/
.form-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

.form-contacto h1 {
  color: #8447FF;
  font-size: 45px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  text-align: center;
  border: 0px white solid;
  padding: 10px;
  background-color: #FFB2E6;
  border-radius: 15px;
  -webkit-text-stroke: 0.5px white;
  width: 60%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.grid-container {
  border: solid 10px #8447FF;
  background-color: white;
  width: 60%;
  margin: 5px;
  /*! Habilitar grilla */
  display: grid;
  /*! Declarar rows y column */
  /* MEDIDAS POR PIXELES */
  /*grid-template-rows: 200px 200px 200px; /* Se esta trabajando 3 filas (alto) */
  grid-auto-rows: 100px;
  /*GERENA LAS FILAS DINAMICAMENTE*/
  /* grid-template-columns: 200px 200px 200px; /* Se esta trabjando 3 columnas (ancho) */
  /*! MEDIDAS POR PORCENTAGE */
  /* grid-template-columns: 33% 33% 33%;*/
  /*! MEDIDAS AUTO */
  /* grid-template-columns: auto auto auto */
  /*! MEDIDAS POR FRACCION */
  /* grid-template-columns: 2fr 1fr 2fr; */
  /*! SHORTCUT */
  grid-template-columns: repeat(1, 1fr);
  /* GAP */
  gap: 0px;
  /* APLICA A TODO (MARGEN)*/
  column-gap: 5px;
  /* APLICA A COLUMNAS (MARGEN)*/
  row-gap: 3px;
  /* APLICA A FILAS (MARGEN)*/
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px; }

.grid-items {
  /* border: solid 2px #af091d; */
  font-size: 20px;
  padding: 0px;
  text-align: start;
  padding: 10px;
  /* display: flex;
    justify-content: center;
    align-items: center; */ }

.grid-items-imput {
  margin-right: 14px;
  margin-left: 5px;
  padding: 10px; }

.btn-form {
  margin: 15px;
  padding: 2px;
  background-color: #8447FF;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }
  .btn-form:hover {
    background-color: white;
    color: #8447FF; }

/*! ----- FOOTER ----- */
footer {
  background-color: #8447FF;
  height: 60px;
  margin-right: 4px;
  margin-left: 4px;
  border-radius: 10px; }
  footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; }
  footer div {
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-left: 0px; }
    footer div a {
      width: 50px;
      height: 50px;
      margin-top: 40px;
      position: relative;
      left: 0; }
      footer div a i {
        font-size: 40px;
        position: relative;
        left: 0;
        color: white; }
      footer div ai:hover {
        color: #8CFFDA; }
  footer p {
    text-align: center;
    background-color: #FFFFE8;
    font-size: 15px; }

/*! MEDIA QUERY PAGINA PRINCIPAL*/
@media screen and (max-width: 1770px) {
  .columnas div img {
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px; } }

@media screen and (max-width: 990px) {
  .columnas div img {
    height: 80vh;
    width: 60%;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px; }
  /* .columnas div img {
        height: 50vh;
        width: 60%;
        border-radius: 10px;
    } */ }

@media screen and (max-width: 770px) {
  .columnas div img {
    height: 75vh;
    width: 70%;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .hero h1 {
    font-size: 60px; }
    .hero h1 span {
      /* color: #FFB2E6; */
      font-size: 70px; } }

@media screen and (max-width: 600px) {
  .columnas div img {
    height: 80vh;
    width: 80%;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px; }
  .hero h1 {
    font-size: 50px; }
    .hero h1 span {
      /* color: #FFB2E6; */
      font-size: 60px; }
  .bienvenidos h2 {
    font-size: 25px; }
  .productos h2 {
    font-size: 25px; } }

@media screen and (max-width: 500px) {
  .hero h1 {
    font-size: 40px; }
    .hero h1 span {
      /* color: #FFB2E6; */
      font-size: 50px; }
  .bienvenidos h2 {
    font-size: 20px; }
  .columnas div img {
    height: 65vh;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 400px) {
  .hero h1 {
    font-size: 30px; }
    .hero h1 span {
      /* color: #FFB2E6; */
      font-size: 40px; }
  .columnas div img {
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px; } }

@media screen and (max-width: 350px) {
  .columnas div img {
    height: 50vh;
    width: 100%;
    border-radius: 10px;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px; }
  footer p {
    font-size: 8px; } }

@media screen and (max-height: 420px) {
  .hero p {
    font-size: 15px; } }

/* MEDIA QUERY CONTACTO */
@media screen and (max-width: 980px) {
  .form-contacto h1 {
    width: 90%; }
  .grid-container {
    width: 90%; } }

@media screen and (max-width: 540px) {
  .form-contacto h1 {
    width: 100%;
    font-size: 25px; }
  .grid-container {
    width: 100%; } }

/* MEDIA QUERY GALERIA */
@media screen and (max-width: 550px) {
  .galeria div img {
    width: 70%;
    height: 400px; } }

@media screen and (max-width: 500px) {
  .galeria div img {
    width: 75%;
    height: 400px; } }

@media screen and (max-width: 450px) {
  .galeria div img {
    width: 80%;
    height: 400px; } }

@media screen and (max-width: 400px) {
  .galeria div img {
    width: 80%;
    height: 400px; } }

@media screen and (max-width: 350px) {
  .galeria div img {
    width: 90%;
    height: 400px; } }

@media screen and (max-width: 516px) {
  .titulo-galeria {
    font-size: 25px; } }
