/** FUENTE DE TIPOGRAFIA**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;900&display=swap');

/*! ----- RESET -----*/
/* html{
    font-size: 5px;
} */

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #ffffe8;
}

/*! ----- HEADER ----- */
header{
    position: sticky;
    top:0px;
}
header img{
    width: 80px;
    height: 80px;
    left: 10px;
    border-radius: 15px;
    padding-top: 1px;
}

.menu-collapse{
    color: white;
    border-color: white;
    background-color: #FFB2E6;
    border: 1px solid;

}

.menu-collapse:hover{
    color: white;
    border-color: white;
    background-color: #FFFFE8;
}

.menu-color-header{
    background-color: #8447ff;
    border-width: 1px;
    border: solid;
    border-color: white;
    border-radius: 15px;
    /* height: 100px; */
}

.menu-color-header a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    padding: 10px;
    margin: 2px;
}

.color-header-button{
    border-color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.color-header-button:hover{
    background-color: #FFFFE8;
    color: #D972FF;
    border:solid #D972FF 1px;
}

/* header nav{
    text-align: right;
    align-items: end;
} */

/* header nav ul{
    list-style: none;
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
} */

/* header nav ul li{
    display: inline-block;
    margin-top: 50px;
    padding-right: 5px;
} */


/* header nav ul li a{
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px;
    margin: 2px;
    background-color: rgb(166, 60, 168);
} */



/*! ----- MAIN ----- */

main{
    background-color: transparent;
    text-align: center;
    margin: 15px;
}


/*!CONTACTO*/
.contacto {
    background-color: white;
    text-decoration: none;
}

.contacto form{
    background-color: antiquewhite;
    width: 100%;
}

.contacto form label{
    color: rgb(60, 1, 78);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: 0px white solid;
    padding: 10px;
}

.contacto form div h3{
    color: rgb(60, 1, 78);
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: 0px white solid;
    padding: 10px;
}

.contacto form div input{
    text-decoration: none;
    background-color: rgb(187, 153, 246);
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 7px;
}

/*!FIN CANTACTO*/


.hero{
    width: 100%;
    height: 50vb;
    background-image: url(../img/header-desayuno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
    text-align: center;
    border-radius: 10px;
}



.hero h1{
    color: #8447FF;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: 0px white solid;
    padding: 10px;
    background-color: #FFB2E6;
    border-radius: 10px 15px 0px 0px;
    -webkit-text-stroke: 0.5px white;
}

.hero p{
    color: rgb(60, 1, 78);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    -webkit-text-stroke: 0.5px white;
}

.bienvenidos {
    padding-top: 20px;
    background-color: transparent;
}

.bienvenidos h2{
    color: #8447FF;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: solid 0px;
    border-radius: 10px;
    border-color: purple;
    background-color: #FFB2E6;
    padding: 10px;
    -webkit-text-stroke: 0.5px white;
}

.columnas div{
    /* width: 100%;
    height: 100%; */
    text-align: center;
    background-color: transparent;
    margin-top: 10px;
    left: 100px;
    top:0;
    /* display: flex; */
    border-radius: 10px;
}


.columnas div p{
    color: rgb(60, 1, 78);
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    border-width: 0px #8447FF;
    border-radius: 10px;
    margin-right: 10px;
    background-color: #8CFFDA;
    height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
}

.columnas div img{
    height: 100vh;
    width: 100%;
    border-radius: 10px;
}

.productos{
    background-color: #8CFFDA;
    border-radius: 10px;
}

.productos h2{
    text-align: center;
    background-color: #FFB2E6;
    padding: 20px;
    margin-top: 50px;
    text-transform: uppercase;
    color: #8447FF;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    border-width: 10px black;  
    border-radius: 10px 10px 0px 0px;
    border: none;
    -webkit-text-stroke: 0.5px white;
}

.productos div{
    border: 1px solid white;
    width: 250px;
    height: 350px;
    text-align: center;
    background-color: #8447FF;
    color: white;
    margin: 10px;
    display: inline-block;
    border-radius: 0px 0px 10px 0px;
    border-width: 10px black; 
    border: solid;
}

.productos div img{
    width: 240px;
    height: 200px;
}

.productos div h3{
    margin-top: 20px;
    margin-bottom: 40px;
}

.productos div a{
    text-decoration: none;
    background-color: #8447FF;
    color: white;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-align: center;
    padding: 7px;
    border-radius: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
}

.productos div a:hover{
    background-color: white;
    color: #8447FF;
}


.fixed{
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.fixed a i{
    color: #003049;
    font-size: 40px;
}

.fixed a i:hover{
    color: #FFB2E6;
}

/*! ----- FOOTER ----- */
footer{
    background-color: #8447FF;
    height: 60px;
}

footer div{
    text-align: center;
    justify-items: center;
    align-items: center;
    padding-left: 20px;
}

/* footer div img{
    width: 100px;
    height: 100px;
    position: absolute;
    left: 10px;
    border-radius: 15px;
    padding-top: 2px;
} */

footer div a {
    width: 50px;
    height: 50px;
    margin-top: 40px;
    position: relative;
    left: 0;
    padding-right: 10px;
}

footer div a i{
    font-size: 40px;
    margin-top: 90px;
    position: relative;
    left: 0;
    color: #FFB2E6;
}

footer div a i:hover{
    color: white;
}
