/*! ----- FOOTER ----- */
footer {
    background-color: nth($colores, 4);
    height: 60px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 10px;
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    div {
        text-align: center;
        justify-items: center;
        align-items: center;
        padding-left: 0px;
        a {
            width: 50px;
            height: 50px;
            margin-top: 40px;
            position: relative;
            left: 0;
            i {
                font-size: nth($font-size, 3);
                position: relative;
                left: 0;
                color: nth($colores, 9);
            }
            &i:hover {
                color: nth($colores, 2);
            }
        }
    }
    p {
        text-align: center;
        background-color: nth($colores, 1);
        font-size: nth($font-size, 1);
        @extend %font-type;
    }
}