/*! ----- FOOTER ----- */
footer {
    background-color: $color-terciario;
    height: 60px;
    margin-right: 4px;
    margin-left: 4px;
    border-radius: 10px;
    .footer-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }
    div {
        text-align: center;
        justify-items: center;
        align-items: center;
        padding-left: 0px;
        a {
            width: 50px;
            height: 50px;
            margin-top: 40px;
            position: relative;
            left: 0;
            i {
                font-size: 40px;
                position: relative;
                left: 0;
                color: white;
            }
            i:hover {
                color: $color-secundario;
            }
        }
    }
    p {
        text-align: center;
        background-color: $color-primario;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
}