header {
    position: sticky;
    top: 0px;
    z-index: 1;
    img {
        width: 80px;
        height: 80px;
        left: 10px;
        border-radius: 15px;
        padding-top: 1px;
    }
}

.menu-collapse {
    color: nth($colores, 9);
    border-color: nth($colores, 9);
    background-color: nth($colores, 8);
    border: 1px solid;
}

.menu-collapse:hover {
    color: nth($colores, 4);
    border-color: nth($colores, 9);
    background-color: nth($colores, 9);
}

.menu-color-header {
    background-color: nth($colores, 4);
    border-width: 1px;
    border: solid;
    border-color: nth($colores, 9);
    border-radius: 15px;
    /* height: 100px; */
}

.menu-color-header a {
    @extend %font-type;
    color: nth($colores, 9);
    text-decoration: none;
    padding: 10px;
    margin: 2px;
}

.color-header-button {
    @extend %font-type;
    border-color: nth($colores, 9);
    text-decoration: none;
    color: nth($colores, 9);
}

.color-header-button:hover {
    background-color: nth($colores, 1);
    color: nth($colores, 6);
    border: solid nth($colores, 6) 1px;
}