main {
    background-color: transparent;
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;

    /* margin: 15px; */
    section {
        margin-right: 0px;
        margin-left: 0px;
    }
}

.hero {
    @include flex (flex, center, center, center);
    width: 100%;
    height: 50vb;
    // background: linear-gradient(rgba(180, 57, 166, 0.251), rgba(84, 26, 116, 0.037)), url(../img/header-desayuno.jpg);;
    background-image: url(../img/header-desayuno.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: nth($colores, 9);
    border-radius: 10px;

    h1 {
        color: nth($colores, 9);
        font-size: nth($font-size, 5);
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        border: 0px nth($colores, 9) solid;
        padding: 0px;
        /* background-color: nth($colores, 3); */
        /* border-radius: 10px 15px 0px 0px; */
        -webkit-text-stroke: 2.5px purple;
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

        span {
            /* color: nth($colores, 3); */
            font-size: nth($font-size, 6);
        }
    }
}

.bienvenidos {
    padding-top: 20px;
    background-color: transparent;

    h2 {
        color: nth($colores, 4);
        font-size: nth($font-size, 4);
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        text-align: center;
        border: solid 0px;
        border-radius: 10px;
        border-color: purple;
        background-color: nth($colores, 3);
        padding: 20px;
        -webkit-text-stroke: 0.5px nth($colores, 9);
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

.columnas div div p {
    @include flex (flex, center, center, center);
    color: nth($colores, 5);
    font-size: nth($font-size, 1);
    @extend %font-type;
    border-radius: 10px;
    margin-right: 10px;
    background-color: nth($colores, 2);
    height: 100%;
    margin: 0px;
    border: solid 2px nth($colores, 3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 10px;
    display: block;
    padding-top: 100px;
    padding-bottom: 100px;
    span {
        font-size: nth($font-size, 2);
        font-weight: 550;
        color: nth($colores, 4);
        -webkit-text-stroke: 0.2px nth($colores, 1);
    }
}

.columnas div img {
    height: 60vh;
    width: 100%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    margin: 5px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border: solid 2px nth($colores, 3);
}

.productos {
    background-color: nth($colores, 2);
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 10px;

    h2 {
        text-align: center;
        background-color: nth($colores, 3);
        padding: 20px;
        margin-top: 20px;
        // text-transform: uppercase;
        color: nth($colores, 4);
        font-size: nth($font-size, 4);
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        border-width: 10px black;
        border-radius: 10px 10px 0px 0px;
        border: none;
        -webkit-text-stroke: 0.5px nth($colores, 9);
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    div {
        width: 350px;
        height: 450px;
        text-align: center;
        // background-color: nth($colores, 9);
        color: nth($colores, 9);
        margin: 10px;
        padding: 5px;
        display: inline-block;
        border-radius: 0px 0px 10px 0px;
        // border: solid 2px nth($colores, 4);
        background: linear-gradient(to bottom, nth($colores, 9) 5%, nth($colores, 3) 100%);

        &:hover {
            transform: scale(1.05);
            // animation: rotation 4s max($numbers: 1) linear;
            transition-duration: 0.5s;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        // @keyframes rotation {
        //     50% {
        //         transform: rotate(180deg);
        //     }

        //     100% {
        //         transform: rotate(0deg);
        //     }
        // }

        img {
            width: 100%;
            height: 300px;
            margin-top: 0px;
            border-bottom: solid 1px nth($colores, 4);
        }

        h3 {
            margin-top: 10px;
            margin-bottom: 20px;
            color: nth($colores, 4);
            @extend %font-type;
            font-weight: 500;
            padding: 5px;
        }

        a {
            text-decoration: none;
            position: sticky;
            background-color: nth($colores, 9);
            color: nth($colores, 4);
            font-size: nth($font-size, 2);
            @extend %font-type;
            text-align: center;
            padding: 10px;
            padding-left: 100px;
            padding-right: 100px;
            margin-bottom: 20px;
            border-radius: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: nth($colores, 4);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

            &:hover {
                transition-duration: 0.5s;
                background-color: nth($colores, 4);
                color: nth($colores, 1);
                border-color: nth($colores, 1);
            }
        }
    }
}

.fixed {
    position: fixed;
    bottom: 33px;
    right: 10px;

    a img {
        width: 40px;
        height: 40px;

        &:hover {
            color: nth($colores, 3);
        }
    }
}

/*! GALERIA */

.ajustar-contenido {
    @include flex (flex, center, center, center);
    flex-direction: column;
}

.titulo-galeria {
    width: 100%;
    text-align: center;
    font-size: nth($font-size, 4);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    background-color: nth($colores, 3);
    border-radius: 15px 15px 15px 15px;
    margin: 0px;
    -webkit-text-stroke: 0.5px nth($colores, 9);
    color: nth($colores, 4);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    padding: 20px;
}

.galeria div {
    @include flex (flex, center, center, center);
    flex-wrap: wrap;
    width: 100%;
    // background-color: nth($colores, 4);
    border-radius: 15px;
    margin-top: 10px;
    z-index: 1;

    img {
        margin: 10px;
        padding: 5px;
        border-radius: 15px;
        width: 300px;
        height: 400px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        border: solid 2px nth($colores, 4);
        background-color: nth($colores, 3);

        &:hover {
            transform: scale(1.05);
            transition-duration: 1s;
        }
    }
}

/*!FIN GALERIA*/

/*!CONTACTO*/
.form-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-contacto h1 {
    color: nth($colores, 4);
    font-size: nth($font-size, 4);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: 0px nth($colores, 9) solid;
    padding: 20px;
    background-color: nth($colores, 3);
    border-radius: 15px;
    -webkit-text-stroke: 0.5px nth($colores, 9);
    width: 60%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.grid-container {
    border: solid 10px nth($colores, 4);
    background-color: nth($colores, 9);
    width: 60%;
    margin: 5px;
    /*! Habilitar grilla */
    display: grid;
    /*! Declarar rows y column */
    /* MEDIDAS POR PIXELES */
    /*grid-template-rows: 200px 200px 200px; /* Se esta trabajando 3 filas (alto) */
    grid-auto-rows: 100px;
    /*GERENA LAS FILAS DINAMICAMENTE*/
    /* grid-template-columns: 200px 200px 200px; /* Se esta trabjando 3 columnas (ancho) */
    /*! MEDIDAS POR PORCENTAGE */
    /* grid-template-columns: 33% 33% 33%;*/
    /*! MEDIDAS AUTO */
    /* grid-template-columns: auto auto auto */
    /*! MEDIDAS POR FRACCION */
    /* grid-template-columns: 2fr 1fr 2fr; */
    /*! SHORTCUT */
    grid-template-columns: repeat(1, 1fr);
    /* GAP */
    gap: 0px;
    /* APLICA A TODO (MARGEN)*/
    column-gap: 5px;
    /* APLICA A COLUMNAS (MARGEN)*/
    row-gap: 3px;
    /* APLICA A FILAS (MARGEN)*/
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.grid-items {
    /* border: solid 2px #af091d; */
    @extend %font-type;
    font-size: nth($font-size, 2);
    padding: 0px;
    text-align: start;
    padding: 10px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.grid-items-imput {
    margin-right: 14px;
    margin-left: 5px;
    padding: 10px;
}

.btn-form {
    margin: map-get($boton-formulario, marg);
    padding: map-get($boton-formulario, padd);
    ;
    background-color: map-get($boton-formulario, bg-boton);
    color: map-get($boton-formulario, c-text);
    box-shadow: map-get($boton-formulario, b-shadow-1), map-get($boton-formulario, b-shadow-2);
    font-size: map-get($boton-formulario, f-size);
    font-family: map-get($boton-formulario, f-family), map-get($boton-formulario, t-family);
    font-weight: map-get($boton-formulario, f-weight);
    ;

    &:hover {
        background-color: nth($colores, 9);
        color: nth($colores, 4);
    }
}

/* FIN CONTACTO*/

/* PRODUCTOS */
.titulo-productos {
    color: nth($colores, 4);
    font-size: nth($font-size, 4);
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    text-align: center;
    border: solid 0px;
    border-radius: 10px;
    border-color: purple;
    background-color: nth($colores, 3);
    padding: 20px;
    margin-bottom: 10px;
    -webkit-text-stroke: 0.5px nth($colores, 9);
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.pagina-productos {
    background-color: nth($colores, 2);
    border-radius: 10px;
    z-index: 1;
    margin-bottom: 10px;
    border: solid 2px nth($colores, 2);

    h2 {
        text-align: center;
        background-color: nth($colores, 4);
        padding: 10px;
        margin-top: 0px;
        // text-transform: uppercase;
        color: nth($colores, 1);
        font-size: nth($font-size, 4);
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        border-width: 10px black;
        border-radius: 10px 10px 0px 0px;
        border: none;
        -webkit-text-stroke: 0.5px nth($colores, 4);
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }

    div {
        width: 350px;
        height: 450px;
        text-align: center;
        // background-color: nth($colores, 9);
        color: nth($colores, 9);
        margin: 10px;
        padding: 5px;
        display: inline-block;
        border-radius: 0px 0px 10px 0px;
        // border: solid 2px nth($colores, 4);
        background: linear-gradient(to bottom, nth($colores, 9) 5%, nth($colores, 3) 100%);

        &:hover {
            transform: scale(1.05);
            // animation: rotation 4s max($numbers: 1) linear;
            transition-duration: 0.5s;
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
        }

        // @keyframes rotation {
        //     50% {
        //         transform: rotate(180deg);
        //     }

        //     100% {
        //         transform: rotate(0deg);
        //     }
        // }

        img {
            width: 100%;
            height: 300px;
            margin-top: 0px;
            border-bottom: solid 1px nth($colores, 4);
        }

        h3 {
            margin-top: 10px;
            margin-bottom: 20px;
            color: nth($colores, 4);
            @extend %font-type;
            font-weight: 500;
            padding: 5px;
        }

        a {
            text-decoration: none;
            position: sticky;
            background-color: nth($colores, 9);
            color: nth($colores, 4);
            font-size: nth($font-size, 2);
            @extend %font-type;
            text-align: center;
            padding: 10px;
            padding-left: 100px;
            padding-right: 100px;
            margin-bottom: 20px;
            border-radius: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: nth($colores, 4);
            box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

            &:hover {
                transition-duration: 0.5s;
                background-color: nth($colores, 4);
                color: nth($colores, 1);
                border-color: nth($colores, 1);
            }
        }
    }
}

/* FIN PRODUCTOS */

/* NOSOTROS */
.nosotros {
    padding-top: 1px;
    background-color: transparent;

    h1 {
        color: nth($colores, 4);
        font-size: nth($font-size, 4);
        font-family: 'Poppins', sans-serif;
        font-weight: 900;
        text-align: center;
        border: solid 0px;
        border-radius: 10px;
        border-color: purple;
        background-color: nth($colores, 3);
        padding: 20px;
        -webkit-text-stroke: 0.5px nth($colores, 9);
        text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

.carrucel {
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    border: solid 2px nth($colores, 3);
    background-color: nth($colores, 1);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    height: 100%;
}

.columnas-rows {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 20px;
}

main section div div .contenedor-seccion {
    height: 100%;
    border-radius: 10px;
    background-color: nth($colores, 2);
    border: solid 2px nth($colores, 3);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;

    img {
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0px;
        width: 250px;
        height: 250px;
        border: solid 1px white;
        border-radius: 10px;
        // margin: 10px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

.columnas-nosotros div {

    // div{
    //     padding-left: 0px;
    //     padding-right: 0px;
    //     margin: 0px;
    // }
    p {
        color: nth($colores, 5);
        font-size: nth($font-size, 1);
        @extend %font-type;
        padding: 10px;

        span {
            font-size: nth($font-size, 2);
            font-weight: 550;
            color: nth($colores, 4);
            -webkit-text-stroke: 0.2px nth($colores, 1);
            display: inline;
            white-space: nowrap;
        }
    }

    img {
        height: 55vh;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 0px;
        padding: 0px 0px 0px 0px;
    }
}

/* FIN NOSOTROS*/