/*! MEDIA QUERY PAGINA PRINCIPAL*/
@media screen and (max-width: 1770px) {
    .columnas div img {
        height: 60vh;
        width: 100%;
        border-radius: 10px;
        margin-left: 0px;
    }
}

@media screen and (max-width: 990px) {
    .columnas div img {
        height: 80vh;
        width: 60%;
        border-radius: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* .columnas div img {
        height: 50vh;
        width: 60%;
        border-radius: 10px;
    } */
}

@media screen and (max-width: 770px) {
    .columnas div img {
        height: 75vh;
        width: 70%;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hero h1 {
        font-size: nth($font-size, 8);

        span {
            /* color: #FFB2E6; */
            font-size: nth($font-size, 9);
        }
    }
}

@media screen and (max-width: 600px) {
    .columnas div img {
        height: 80vh;
        width: 80%;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .hero h1 {
        font-size: nth($font-size, 10);

        span {
            /* color: #FFB2E6; */
            font-size: nth($font-size, 8);
        }
    }

    .bienvenidos h2 {
        font-size: nth($font-size, 7);
    }

    .productos h2 {
        font-size: nth($font-size, 7);
    }
}

@media screen and (max-width: 500px) {
    .hero h1 {
        font-size: nth($font-size, 3);

        span {
            /* color: #FFB2E6; */
            font-size: nth($font-size, 10);
        }
    }

    .bienvenidos h2 {
        font-size: nth($font-size, 2);
    }

    .columnas div img {
        height: 65vh;
        width: 100%;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 400px) {
    .hero h1 {
        font-size: nth($font-size, 11);

        span {
            /* color: #FFB2E6; */
            font-size: nth($font-size, 3);
        }
    }

    .columnas div img {
        height: 60vh;
        width: 100%;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 350px) {
    .columnas div img {
        height: 50vh;
        width: 100%;
        border-radius: 10px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: nth($font-size, 12);
    }
}

@media screen and (max-height:420px) {
    .hero p {
        font-size: nth($font-size, 1);
    }
}

/* MEDIA QUERY CONTACTO */
@media screen and (max-width: 980px) {
    .form-contacto h1 {
        width: 90%;
    }

    .grid-container {
        width: 90%;
    }
}

@media screen and (max-width: 540px) {
    .form-contacto h1 {
        width: 100%;
        font-size: nth($font-size, 7);
    }

    .grid-container {
        width: 100%;
    }
}

/* MEDIA QUERY GALERIA */
@media screen and (max-width: 550px) {
    .galeria div img {
        width: 70%;
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .galeria div img {
        width: 75%;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {
    .galeria div img {
        width: 80%;
        height: 400px;
    }
}

@media screen and (max-width: 400px) {
    .galeria div img {
        width: 80%;
        height: 400px;
    }
}

@media screen and (max-width: 350px) {
    .galeria div img {
        width: 90%;
        height: 400px;
    }
}

@media screen and (max-width: 516px) {
    .titulo-galeria {
        font-size: nth($font-size, 7);
    }
}

/* FIN MEDIA QUERY GALERIA */

/* MEDIA QUERY PRODUCTOS Y NOSOTROS */
@media screen and (max-width: 992px) {
    .carrucel {
        margin-top: 10px;
        margin-bottom: 10px;
        border-radius: 10px;
        border: solid 2px nth($colores, 3);
        background-color: nth($colores, 4);
        box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    }
}

@media screen and (max-width: 550px) {
    .pagina-productos h1 {
        font-size: nth($font-size, 3);
    }

    .pagina-productos h2 {
        font-size: nth($font-size, 3);
    }

    .nosotros h1 {
        font-size: nth($font-size, 3);
    }
}

@media screen and (max-width: 510px) {
    .pagina-productos h2 {
        font-size: nth($font-size, 2);
    }

    .nosotros h1 {
        font-size: nth($font-size, 2);
    }
}

/* FIN MEDIA QUERY PRODUCTOS */